In [1]:
#start by importing the necessary modules (pandas, numpy, matplotlib.pyplot, seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#The urllib.request module is used to open URLs
#The Beautiful Soup package is used to extract data from html files
from urllib.request import urlopen
from bs4 import BeautifulSoup

#After importing necessary modules, specify the URL containing the dataset and 
#pass it to urlopen() to get the html of the page
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [5]:
#Next step is to create a Beautiful Soup object from the html. 
#This is done by passing the html to the BeautifulSoup() function
#The soup object allows you to extract interesting information
soup = BeautifulSoup(html, 'lxml')
type(soup)
# Get the title
title = soup.title
print(title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [7]:
# Print out the text
text = soup.get_text()
#print(soup.text)

In [9]:
# Print out the text
text = soup.get_text()
#print(soup.text)

In [13]:
soup.find_all('a')
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))

None
#mw-head
#p-search
/wiki/Postal_codes_in_Canada
/wiki/Toronto
/wiki/Ontario
/wiki/Canada_Post
#cite_note-1
/wiki/Mobile_app
/wiki/Smartphones
/wiki/IPhone
/wiki/BlackBerry
#cite_note-2
/wiki/CD-ROM
/wiki/Toronto
/wiki/Postal_codes_in_Canada#Forward_sortation_areas
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=edit&section=1
/wiki/North_York
/wiki/Parkwoods
/wiki/North_York
/wiki/Victoria_Village
/wiki/Downtown_Toronto
/wiki/Harbourfront_(Toronto)
/wiki/Downtown_Toronto
/wiki/Regent_Park
/wiki/North_York
/wiki/Lawrence_Heights
/wiki/North_York
/wiki/Lawrence_Manor
/wiki/Queen%27s_Park_(Toronto)
/wiki/Etobicoke
/wiki/Islington_Avenue
/wiki/Scarborough,_Toronto
/wiki/Rouge,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Malvern,_Toronto
/wiki/North_York
/wiki/East_York
/wiki/Woodbine_Gardens
/wiki/East_York
/wiki/Parkview_Hill
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/North_York
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Islington,_Toronto
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Princess_Gardens
/wiki/Etobicoke
/wiki/West_Deane_Park
/wiki/Scarborough,_Toronto
/wiki/Highland_Creek_(Toronto)
/wiki/Scarborough,_Toronto
/wiki/Rouge_Hill
/wiki/Scarborough,_Toronto
/wiki/Port_Union,_Toronto
/wiki/North_York
/wiki/Flemingdon_Park
/wiki/North_York
/wiki/East_York
/wiki/Woodbine_Heights
/wiki/Downtown_Toronto
/wiki/St._James_Town
/wiki/Humewood-Cedarvale
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Markland_Wood
/wiki/Etobicoke
/wiki/Scarborough,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Morningside,_Toronto
/wiki/Scarborough,_Toronto
/wiki/West_Hill,_Toronto
/wiki/East_Toronto
/wiki/The_Beaches
/wiki/Downtown_Toronto
/wiki/Berczy_Park
/wiki/Scarborough,_Toronto
/wiki/Woburn,_Toronto
/wiki/East_York
/wiki/Leaside
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/Scarborough,_Toronto
/wiki/North_York
/wiki/Hillcrest_Village
/wiki/North_York
/wiki/Bathurst_Manor
/wiki/North_York
/wiki/North_York
/wiki/Wilson_Heights,_Toronto
/wiki/East_York
/wiki/Thorncliffe_Park
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/West_Toronto
/wiki/Dovercourt_Village
/wiki/West_Toronto
/wiki/Scarborough,_Toronto
/wiki/Scarborough_Village
/wiki/North_York
/wiki/North_York
/wiki/Henry_Farm
/wiki/North_York
/wiki/North_York
/wiki/Northwood_Park
/wiki/North_York
/wiki/York_University
/wiki/East_York
/wiki/East_Toronto
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/Toronto_Islands
/wiki/Downtown_Toronto
/wiki/Union_Station_(Toronto)
/wiki/West_Toronto
/wiki/Little_Portugal,_Toronto
/wiki/West_Toronto
/wiki/Trinity%E2%80%93Bellwoods
/wiki/Scarborough,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Ionview
/wiki/Scarborough,_Toronto
/wiki/Kennedy_Park,_Toronto
/wiki/North_York
/wiki/Bayview_Village
/wiki/North_York
/wiki/CFB_Toronto
/wiki/North_York
/wiki/East_Toronto
/wiki/East_Toronto
/wiki/Riverdale,_Toronto
/wiki/Downtown_Toronto
/wiki/Design_Exchange
/wiki/Downtown_Toronto
/wiki/Toronto_Dominion_Centre
/wiki/West_Toronto
/wiki/West_Toronto
/wiki/Exhibition_Place
/wiki/West_Toronto
/wiki/Parkdale_Village
/wiki/Scarborough,_Toronto
/wiki/Clairlea
/wiki/Scarborough,_Toronto
/wiki/Golden_Mile,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Oakridge,_Toronto
/wiki/North_York
/wiki/North_York
/wiki/York_Mills
/wiki/North_York
/wiki/Downsview
/wiki/East_Toronto
/wiki/East_Toronto
/wiki/India_Bazaar
/wiki/Downtown_Toronto
/wiki/Commerce_Court
/wiki/Downtown_Toronto
/wiki/North_York
/wiki/Downsview,_Toronto
/wiki/North_York
/wiki/North_York
/wiki/North_York
/wiki/Humber_Summit
/wiki/Scarborough,_Toronto
/wiki/Cliffcrest
/wiki/Scarborough,_Toronto
/wiki/Cliffside,_Toronto
/wiki/Scarborough,_Toronto
/wiki/North_York
/wiki/Newtonbrook
/wiki/North_York
/wiki/Willowdale,_Toronto
/wiki/North_York
/wiki/East_Toronto
/wiki/North_York
/wiki/Bedford_Park,_Toronto
/wiki/North_York
/wiki/York
/wiki/York
/wiki/Keelesdale
/wiki/York
/wiki/Mount_Dennis
/wiki/York
/wiki/Silverthorn,_Toronto
/wiki/North_York
/wiki/Emery,_Toronto
/wiki/North_York
/wiki/Humberlea
/wiki/Scarborough,_Toronto
/wiki/Birch_Cliff
/wiki/Scarborough,_Toronto
/wiki/North_York
/wiki/North_York
/wiki/Central_Toronto
/wiki/Lawrence_Park,_Toronto
/wiki/Central_Toronto
/wiki/York
/wiki/York
/wiki/York
/wiki/Weston,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Dorset_Park
/wiki/Scarborough,_Toronto
/wiki/Scarborough_Town_Centre
/wiki/Scarborough,_Toronto
/wiki/Wexford_Heights
/wiki/North_York
/wiki/Central_Toronto
/wiki/Central_Toronto
/wiki/Forest_Hill_North
/wiki/Central_Toronto
/wiki/West_Toronto
/wiki/High_Park
/wiki/West_Toronto
/wiki/Etobicoke
/wiki/Scarborough,_Toronto
/wiki/Maryvale,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Wexford,_Toronto
/wiki/North_York
/wiki/Willowdale_West
/wiki/Central_Toronto
/wiki/Central_Toronto
/wiki/The_Annex
/wiki/Central_Toronto
/wiki/Central_Toronto
/wiki/Yorkville,_Toronto
/wiki/West_Toronto
/wiki/Parkdale,_Toronto
/wiki/West_Toronto
/wiki/Roncesvalles,_Toronto
/wiki/Etobicoke
/wiki/Kingsview_Village
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Scarborough,_Toronto
/wiki/Agincourt,_Toronto
/wiki/Central_Toronto
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/University_of_Toronto
/wiki/West_Toronto
/wiki/Runnymede,_Toronto
/wiki/West_Toronto
/wiki/Swansea,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Tam_O%27Shanter_%E2%80%93_Sullivan
/wiki/Central_Toronto
/wiki/Moore_Park,_Toronto
/wiki/Central_Toronto
/wiki/Downtown_Toronto
/wiki/Chinatown,_Toronto
/wiki/Downtown_Toronto
/wiki/Grange_Park_(Toronto)
/wiki/Downtown_Toronto
/wiki/Kensington_Market
/wiki/Scarborough,_Toronto
/wiki/Agincourt_North
/wiki/Scarborough,_Toronto
/wiki/Scarborough,_Toronto
/wiki/Milliken,_Ontario
/wiki/Scarborough,_Toronto
/wiki/Central_Toronto
/wiki/Deer_Park,_Toronto
/wiki/Central_Toronto
/wiki/Central_Toronto
/wiki/Rathnelly
/wiki/Central_Toronto
/wiki/South_Hill,_Toronto
/wiki/Central_Toronto
/wiki/Downtown_Toronto
/wiki/CN_Tower
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/Downtown_Toronto
/wiki/King_and_Spadina
/wiki/Downtown_Toronto
/wiki/Railway_Lands
/wiki/Downtown_Toronto
/wiki/South_Niagara
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/New_Toronto
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Beaumond_Heights
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Mount_Olive-Silverstone-Jamestown
/wiki/Etobicoke
/wiki/Mount_Olive-Silverstone-Jamestown
/wiki/Etobicoke
/wiki/Silverstone,_Toronto
/wiki/Etobicoke
/wiki/South_Steeles
/wiki/Etobicoke
/wiki/Thistletown
/wiki/Scarborough,_Toronto
/wiki/Downtown_Toronto
/wiki/Rosedale,_Toronto
/wiki/Downtown_Toronto
/wiki/Etobicoke
/wiki/Alderwood,_Toronto
/wiki/Etobicoke
/wiki/Long_Branch,_Toronto
/wiki/Etobicoke
/wiki/Scarborough,_Toronto
/wiki/Upper_Rouge
/wiki/Downtown_Toronto
/wiki/Cabbagetown,_Toronto
/wiki/Downtown_Toronto
/wiki/St._James_Town
/wiki/Downtown_Toronto
/wiki/First_Canadian_Place
/wiki/Downtown_Toronto
/wiki/Underground_city
/wiki/Etobicoke
/wiki/The_Kingsway
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Downtown_Toronto
/wiki/Church_and_Wellesley
/wiki/East_Toronto
/wiki/Etobicoke
/wiki/Humber_Bay
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Mimico
/wiki/Etobicoke
/wiki/Old_Mill,_Toronto
/wiki/Etobicoke
/wiki/The_Queensway
/wiki/Etobicoke
/wiki/Fairmont_Royal_York_Hotel
/wiki/Etobicoke
/wiki/Sunnylea
/wiki/Etobicoke
/wiki/Etobicoke
/wiki/Mimico
/wiki/Etobicoke
/wiki/The_Queensway
/wiki/Etobicoke
/wiki/Etobicoke
#cite_note-statcan-3
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=edit&section=2
#cite_note-statcan-3
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=edit&section=3
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=edit&section=4
#cite_ref-1
https://www.canadapost.ca/cpotools/apps/fpc/personal/findByCity?execution=e2s1
#cite_ref-2
https://web.archive.org/web/20110519093024/http://www.canadapost.ca/cpo/mc/personal/tools/mobileapp/default.jsf
http://www.canadapost.ca/cpo/mc/personal/tools/mobileapp/default.jsf
#cite_ref-statcan_3-0
#cite_ref-statcan_3-1
http://www12.statcan.ca/english/census06/data/popdwell/Table.cfm?T=1201&SR=1&S=0&O=A&RPP=9999&PR=0&CMA=0
/wiki/File:Flag_of_Canada.svg
/wiki/Postal_codes_in_Canada
/wiki/File:Canadian_postal_district_map_(without_legends).svg
/wiki/Newfoundland_and_Labrador
/wiki/Nova_Scotia
/wiki/Prince_Edward_Island
/wiki/New_Brunswick
/wiki/Quebec
/wiki/Ontario
/wiki/Manitoba
/wiki/Saskatchewan
/wiki/Alberta
/wiki/British_Columbia
/wiki/Nunavut
/wiki/Northwest_Territories
/wiki/Yukon
/wiki/List_of_postal_codes_of_Canada:_A
/wiki/List_of_postal_codes_of_Canada:_B
/wiki/List_of_postal_codes_of_Canada:_C
/wiki/List_of_postal_codes_of_Canada:_E
/wiki/List_of_postal_codes_of_Canada:_G
/wiki/List_of_postal_codes_of_Canada:_H
/wiki/List_of_postal_codes_of_Canada:_J
/wiki/List_of_postal_codes_of_Canada:_K
/wiki/List_of_postal_codes_of_Canada:_L
None
/wiki/List_of_postal_codes_of_Canada:_N
/wiki/List_of_postal_codes_of_Canada:_P
/wiki/List_of_postal_codes_of_Canada:_R
/wiki/List_of_postal_codes_of_Canada:_S
/wiki/List_of_postal_codes_of_Canada:_T
/wiki/List_of_postal_codes_of_Canada:_V
/wiki/List_of_postal_codes_of_Canada:_X
/wiki/List_of_postal_codes_of_Canada:_Y
https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=890001695
/wiki/Help:Category
/wiki/Category:Communications_in_Ontario
/wiki/Category:Postal_codes_in_Canada
/wiki/Category:Toronto
/wiki/Category:Ontario-related_lists
/wiki/Special:MyTalk
/wiki/Special:MyContributions
/w/index.php?title=Special:CreateAccount&returnto=List+of+postal+codes+of+Canada%3A+M
/w/index.php?title=Special:UserLogin&returnto=List+of+postal+codes+of+Canada%3A+M
/wiki/List_of_postal_codes_of_Canada:_M
/wiki/Talk:List_of_postal_codes_of_Canada:_M
/wiki/List_of_postal_codes_of_Canada:_M
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=edit
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=history
/wiki/Main_Page
/wiki/Main_Page
/wiki/Portal:Contents
/wiki/Portal:Featured_content
/wiki/Portal:Current_events
/wiki/Special:Random
https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en
//shop.wikimedia.org
/wiki/Help:Contents
/wiki/Wikipedia:About
/wiki/Wikipedia:Community_portal
/wiki/Special:RecentChanges
//en.wikipedia.org/wiki/Wikipedia:Contact_us
/wiki/Special:WhatLinksHere/List_of_postal_codes_of_Canada:_M
/wiki/Special:RecentChangesLinked/List_of_postal_codes_of_Canada:_M
/wiki/Wikipedia:File_Upload_Wizard
/wiki/Special:SpecialPages
/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=890001695
/w/index.php?title=List_of_postal_codes_of_Canada:_M&action=info
https://www.wikidata.org/wiki/Special:EntityPage/Q3248240
/w/index.php?title=Special:CiteThisPage&page=List_of_postal_codes_of_Canada%3A_M&id=890001695
/w/index.php?title=Special:Book&bookcmd=book_creator&referer=List+of+postal+codes+of+Canada%3A+M
/w/index.php?title=Special:ElectronPdf&page=List+of+postal+codes+of+Canada%3A+M&action=show-download-screen
/w/index.php?title=List_of_postal_codes_of_Canada:_M&printable=yes
https://fr.wikipedia.org/wiki/Liste_des_codes_postaux_canadiens_d%C3%A9butant_par_M
https://www.wikidata.org/wiki/Special:EntityPage/Q3248240#sitelinks-wikipedia
//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License
//creativecommons.org/licenses/by-sa/3.0/
//foundation.wikimedia.org/wiki/Terms_of_Use
//foundation.wikimedia.org/wiki/Privacy_policy
//www.wikimediafoundation.org/
https://foundation.wikimedia.org/wiki/Privacy_policy
/wiki/Wikipedia:About
/wiki/Wikipedia:General_disclaimer
//en.wikipedia.org/wiki/Wikipedia:Contact_us
https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute
https://foundation.wikimedia.org/wiki/Cookie_statement
//en.m.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&mobileaction=toggle_view_mobile
https://wikimediafoundation.org/
https://www.mediawiki.org/

In [14]:
# Print the first 10 rows for sanity check
rows = soup.find_all('tr')
print(rows[:10])

[<tr>
<th>Postcode</th>
<th>Borough</th>
<th>Neighbourhood
</th></tr>, <tr>
<td>M1A</td>
<td>Not assigned</td>
<td>Not assigned
</td></tr>, <tr>
<td>M2A</td>
<td>Not assigned</td>
<td>Not assigned
</td></tr>, <tr>
<td>M3A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Parkwoods" title="Parkwoods">Parkwoods</a>
</td></tr>, <tr>
<td>M4A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Victoria_Village" title="Victoria Village">Victoria Village</a>
</td></tr>, <tr>
<td>M5A</td>
<td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>
<td><a href="/wiki/Harbourfront_(Toronto)" title="Harbourfront (Toronto)">Harbourfront</a>
</td></tr>, <tr>
<td>M5A</td>
<td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>
<td><a href="/wiki/Regent_Park" title="Regent Park">Regent Park</a>
</td></tr>, <tr>
<td>M6A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Lawrence_Heights" title="Lawrence Heights">Lawrence Heights</a>
</td></tr>, <tr>
<td>M6A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Lawrence_Manor" title="Lawrence Manor">Lawrence Manor</a>
</td></tr>, <tr>
<td>M7A</td>
<td><a href="/wiki/Queen%27s_Park_(Toronto)" title="Queen's Park (Toronto)">Queen's Park</a></td>
<td>Not assigned
</td></tr>]

In [15]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td align="center" style="border: 1px solid #FF0000; background-color: #FFE0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_A" title="List of postal codes of Canada: A">A</a>
</td>, <td align="center" style="border: 1px solid #FF4000; background-color: #FFE8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_B" title="List of postal codes of Canada: B">B</a>
</td>, <td align="center" style="border: 1px solid #FF8000; background-color: #FFF0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_C" title="List of postal codes of Canada: C">C</a>
</td>, <td align="center" style="border: 1px solid #FFC000; background-color: #FFF8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_E" title="List of postal codes of Canada: E">E</a>
</td>, <td align="center" style="border: 1px solid #FFFF00; background-color: #FFFFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_G" title="List of postal codes of Canada: G">G</a>
</td>, <td align="center" style="border: 1px solid #C0FF00; background-color: #F8FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_H" title="List of postal codes of Canada: H">H</a>
</td>, <td align="center" style="border: 1px solid #80FF00; background-color: #F0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_J" title="List of postal codes of Canada: J">J</a>
</td>, <td align="center" style="border: 1px solid #00FF00; background-color: #E0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_K" title="List of postal codes of Canada: K">K</a>
</td>, <td align="center" style="border: 1px solid #00FF80; background-color: #E0FFF0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_L" title="List of postal codes of Canada: L">L</a>
</td>, <td align="center" style="border: 1px solid #E0FFF8; background-color: #00FFC0; font-size: 135%; color: black;" width="5%"><a class="mw-selflink selflink">M</a>
</td>, <td align="center" style="border: 1px solid #00FFE0; background-color: #E0FFFC; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_N" title="List of postal codes of Canada: N">N</a>
</td>, <td align="center" style="border: 1px solid #00FFFF; background-color: #E0FFFF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_P" title="List of postal codes of Canada: P">P</a>
</td>, <td align="center" style="border: 1px solid #00C0FF; background-color: #E0F8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_R" title="List of postal codes of Canada: R">R</a>
</td>, <td align="center" style="border: 1px solid #0080FF; background-color: #E0F0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_S" title="List of postal codes of Canada: S">S</a>
</td>, <td align="center" style="border: 1px solid #0040FF; background-color: #E0E8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_T" title="List of postal codes of Canada: T">T</a>
</td>, <td align="center" style="border: 1px solid #0000FF; background-color: #E0E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_V" title="List of postal codes of Canada: V">V</a>
</td>, <td align="center" style="border: 1px solid #A000FF; background-color: #E8E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_X" title="List of postal codes of Canada: X">X</a>
</td>, <td align="center" style="border: 1px solid #FF00FF; background-color: #FFE0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_Y" title="List of postal codes of Canada: Y">Y</a>
</td>]

bs4.element.ResultSet

In [18]:

#Using regular expressions is highly discouraged since it requires 
#several lines of code and one can easily make mistakes.

import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

str

In [19]:
#The next step is to convert the list into a dataframe and get a quick view of the first 10 rows using Pandas.
df = pd.DataFrame(list_rows)
df.head(10)

                                         0
0                                       []
1      [M1A, Not assigned, Not assigned\n]
2      [M2A, Not assigned, Not assigned\n]
3           [M3A, North York, Parkwoods\n]
4    [M4A, North York, Victoria Village\n]
5  [M5A, Downtown Toronto, Harbourfront\n]
6   [M5A, Downtown Toronto, Regent Park\n]
7    [M6A, North York, Lawrence Heights\n]
8      [M6A, North York, Lawrence Manor\n]
9      [M7A, Queen's Park, Not assigned\n]

In [20]:
#Data Manipulation and Cleaning
#The dataframe is not in the format we want. To clean it up, you should split the "0" column into 
#multiple columns at the comma position. This is accomplished by using the str.split() method.

df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,[M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,[M5A,Downtown Toronto,Regent Park\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,[M6A,North York,Lawrence Heights\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,[M6A,North York,Lawrence Manor\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,[M7A,Queen's Park,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [21]:
#This looks much better, but there is still work to do. The dataframe has unwanted square 
#brackets surrounding each row. You can use the strip() method to remove 
#the opening square bracket on column "0."
df1[0] = df1[0].str.strip('[')
df1[2] = df1[2].str.strip('\n]')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M5A,Downtown Toronto,Regent Park,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,M7A,Queen's Park,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [22]:
#The table is missing table headers. You can use the find_all() method to get the table headers.
col_labels = soup.find_all('th')

all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Postcode, Borough, Neighbourhood\n, Canadian postal codes\n]']

In [23]:
#You can then convert the list of headers into a pandas dataframe.
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Postcode, Borough, Neighbourhood\n, Canadian ...

In [24]:
#Similarly, you can split column "0" into multiple columns at the comma position for all rows.
df3 = df2[0].str.split(',', expand=True)
df3.head()

           0         1                 2                          3
0  [Postcode   Borough   Neighbourhood\n   Canadian postal codes\n]

In [25]:
df3[0] = df3[0].str.strip('[ ')
df3[2] = df3[2].str.strip('\n]')
df3.head()

          0         1               2                          3
0  Postcode   Borough   Neighbourhood   Canadian postal codes\n]

In [26]:
df3[0] = df3[0].str.strip('[ ')
df3[2] = df3[2].str.strip('\n]')
df3[3] = df3[3].str.strip('\n]')
df3.head()

          0         1               2                       3
0  Postcode   Borough   Neighbourhood   Canadian postal codes

In [27]:
#The two dataframes can be concatenated into one using the concat() method as illustrated below.
frames = [df3, df1]
df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,Postcode,Borough,Neighbourhood,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M5A,Downtown Toronto,Regent Park,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [28]:
#Below shows how to assign the first row to be the table header.
df5 = df4.rename(columns=df4.iloc[0])
df5.head(10)

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,Postcode,Borough,Neighbourhood,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M5A,Downtown Toronto,Regent Park,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [29]:
#At this point, the table is almost properly formatted. For analysis, 
#you can start by getting an overview of the data as shown below.
#df5.info()
df5.shape

(295, 31)

In [30]:
#Also, notice how the table header is replicated as the first row in df5. It can be dropped using the following line of code.
df6 = df5.drop(df5.index[0])
df6.head()

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [31]:
list(df6.columns.values)[0:3]

['Postcode', ' Borough', ' Neighbourhood']

In [32]:
df6.rename(columns={"Postcode": "Postcode", " Borough": "Borough", " Neighbourhood":"Neighbourhood"}, inplace=True)
df6.head()

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [33]:
Toronto_data=df6[['Postcode','Borough','Neighbourhood']]
Toronto_data.head()

  Postcode            Borough      Neighbourhood
1      M1A       Not assigned       Not assigned
2      M2A       Not assigned       Not assigned
3      M3A         North York          Parkwoods
4      M4A         North York   Victoria Village
5      M5A   Downtown Toronto       Harbourfront

In [34]:
Toronto_data.shape

(293, 3)

In [35]:

Toronto_data.tail(10)

,Postcode,Borough,Neighbourhood
284,M8Z,Etobicoke,Mimico NW
285,M8Z,Etobicoke,The Queensway West
286,M8Z,Etobicoke,Royal York South West
287,M8Z,Etobicoke,South of Bloor
288,M9Z,Not assigned,Not assigned
289,],None,None
290,\n,\n],None
291,\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n...,NL\n,NS
292,NL\n,NS\n,PE
293,A\n,B\n,C

In [36]:
Toronto_data = Toronto_data[:-5]
Toronto_data.head()

  Postcode            Borough      Neighbourhood
1      M1A       Not assigned       Not assigned
2      M2A       Not assigned       Not assigned
3      M3A         North York          Parkwoods
4      M4A         North York   Victoria Village
5      M5A   Downtown Toronto       Harbourfront

In [37]:
Toronto_data.shape

(288, 3)

In [38]:
Toronto_data=Toronto_data[~Toronto_data['Borough'].isin([" Not assigned"])]
Toronto_data.head(10)

   Postcode            Borough      Neighbourhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M5A   Downtown Toronto        Regent Park
7       M6A         North York   Lawrence Heights
8       M6A         North York     Lawrence Manor
9       M7A       Queen's Park       Not assigned
11      M9A          Etobicoke   Islington Avenue
12      M1B        Scarborough              Rouge
13      M1B        Scarborough            Malvern

In [39]:
Toronto_data.shape

(211, 3)

In [40]:
Toronto_data.reset_index(inplace=True, drop=True)
Toronto_data.head(10)

  Postcode            Borough      Neighbourhood
0      M3A         North York          Parkwoods
1      M4A         North York   Victoria Village
2      M5A   Downtown Toronto       Harbourfront
3      M5A   Downtown Toronto        Regent Park
4      M6A         North York   Lawrence Heights
5      M6A         North York     Lawrence Manor
6      M7A       Queen's Park       Not assigned
7      M9A          Etobicoke   Islington Avenue
8      M1B        Scarborough              Rouge
9      M1B        Scarborough            Malvern

In [41]:
Toronto_data['Neighbourhood'][Toronto_data['Neighbourhood']==' Not assigned'] = Toronto_data['Borough'].values
Toronto_data.head(10)

  Postcode            Borough      Neighbourhood
0      M3A         North York          Parkwoods
1      M4A         North York   Victoria Village
2      M5A   Downtown Toronto       Harbourfront
3      M5A   Downtown Toronto        Regent Park
4      M6A         North York   Lawrence Heights
5      M6A         North York     Lawrence Manor
6      M7A       Queen's Park       Queen's Park
7      M9A          Etobicoke   Islington Avenue
8      M1B        Scarborough              Rouge
9      M1B        Scarborough            Malvern

In [42]:
Toronto_data = Toronto_data.groupby('Postcode').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join}).reset_index()
Toronto_data.head(10)

  Postcode       Borough                                      Neighbourhood
0      M1B   Scarborough                                    Rouge,  Malvern
1      M1C   Scarborough           Highland Creek,  Rouge Hill,  Port Union
2      M1E   Scarborough                Guildwood,  Morningside,  West Hill
3      M1G   Scarborough                                             Woburn
4      M1H   Scarborough                                          Cedarbrae
5      M1J   Scarborough                                Scarborough Village
6      M1K   Scarborough      East Birchmount Park,  Ionview,  Kennedy Park
7      M1L   Scarborough                  Clairlea,  Golden Mile,  Oakridge
8      M1M   Scarborough   Cliffcrest,  Cliffside,  Scarborough Village ...
9      M1N   Scarborough                       Birch Cliff,  Cliffside West

In [43]:
Toronto_data.shape

(103, 3)